* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(214, 17%, 92%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'daniel daniel jonathan kira'
    'jeanette patrick patrick kira';

  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 20px;
}

.grid-container article {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.grid-container article .card-header {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

.grid-container article header .avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.grid-container article .card-summary {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 0;
}

.grid-container article .card-quote {
  font-weight: 500;
  padding-top: 10px;
}

/* ===== Daniel card ===== */
.grid-container .card-daniel {
  background-color: hsl(263, 55%, 52%);
  color: white;
  grid-area: daniel;
  background-image: url('../images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top right 60px; 
  background-size: 120px;
}

.grid-container .card-daniel .author-info,
.grid-container .card-daniel .card-quote {
  color: hsl(214, 17%, 92%);
}

.grid-container .card-daniel .avatar {
  border: 3px solid hsl(264, 82%, 80%);
}

/* ===== Jonathan card ===== */
.grid-container .card-jonathan {
  background-color: hsl(217, 19%, 35%);
  color: white;
  grid-area: jonathan;
}

.grid-container .card-jonathan .author-info,
.grid-container .card-jonathan .card-quote {
  color: hsl(214, 17%, 92%);
}

.grid-container .card-jonathan .avatar {
  border: 3px solid hsl(217, 19%, 35%);
}

/* ===== Kira card ===== */
.grid-container .card-kira {
  background-color: white;
  color: hsl(217, 19%, 35%);
  grid-area: kira;
}

.grid-container .card-kira .avatar {
  border: 3px solid white;
}

/* ===== Jeanette card ===== */
.grid-container .card-jeanette {
  background-color: white;
  color: hsl(217, 19%, 35%);
  grid-area: jeanette;
}

.grid-container .card-jeanette .avatar {
  border: 3px solid white;
}

/* ===== Patrick card ===== */
.grid-container .card-patrick {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
  grid-area: patrick;
}

.grid-container .card-patrick .avatar {
  border: 3px solid hsl(263, 55%, 52%);
}

@media(max-width: 500px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container .card-kira {
    order: 5;
  }

  .grid-container .card-daniel {
    background-image: none;
  }
}